#box1 {
    background-color: rgba(238,237,246,0.79);
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 0px;
    position: fixed; /* fixed or static */
    top: inherit;
    left: inherit;
}

#btn1{
    position: fixed;
    top: 405px;
    left: inherit;
}

#bill{
    position: fixed;
    top:inherit;
    left: 1010px;
}